/* body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
}


.explore {
    font-style: italic;
    cursor: pointer;
    font-size: small;

}

.explore1 {
    font-style: italic;
    cursor: pointer;
    font-size: small;
    margin-left: 1px;
    font-weight: 600;
    color: rgb(255, 255, 70);

}

.pop1 {
    margin-left: -12px;
    margin-right: -12px;
}

.pop1:hover {
    background-color: rgb(237, 237, 237);
} */
